@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

:root {
  --light-pink: #ffded4;
  --dark-pink: #ff6666;
  --light-white: #ffffff;
  --dark-white: #f3f3f3;
  --text-main: #191919;
  --text-accent: #acaaa6;
  --font-family: "Josefin Sans", sans-serif;
  --heading-size: 44px;
  --subtitle-size: 18px;
  --main-transition: 0.2s ease-in-out all;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  height: 200vh;
}

.container {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.space-betweeen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* desktop header */

/* header */

.header {
  background-color: var(--light-white);
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  box-shadow: 0px 7px 20px -6px var(--dark-white);
  transition: .5s ease all;
}

/* fixed header */
.header.fixed{
  top: 0;
  width: 100%;
}

.header ul,
.header a {
  list-style: none;
  color: var(--text-main);
  text-decoration: none;
  display: flex;
}

.logo {
  width: 120px;
  height: 50px;
  background-color: var(--dark-pink);
  color: var(--light-white);
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.logo a {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  
}

/* navigation */

.navigation > ul > li > a {
  position: relative;
  padding: 25px 15px;
  transition: var(--main-transition);
}

.navigation > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--dark-pink);
  transition: var(--main-transition);
}



.navigation > ul > li > a:hover {
  color: var(--dark-pink);
}

.navigation > ul > li > a:hover::before {
  width: 100%;
}

/* sub-Menu */
.menu-item-has-children {
  position: relative;
}

.menu-item-has-children > a::before{

  display: none;

}

.menu-item-has-children:hover .sub-menu{
  top: 68px;
  opacity: 1;
  visibility: visible;
}

.sub-menu {
  position: absolute;
  flex-direction: column;
  top: 78px;
  left: 0;
  min-width: 150px;
  border-top: 2px solid var(--dark-pink);
  transition: var(--main-transition);
  opacity: 0;
  visibility: hidden;
}

.sub-menu > li > a {
  padding: 15px;
  background-color: var(--light-white);
  border-bottom: 1px solid #efefef;
  transition: .2s ease color;
}

.sub-menu > li:last-child > a{
  border-bottom: 0;
}

.sub-menu > li > a:hover{
color: var(--dark-pink);
}
.header-icons ul li {
  margin-left: 25px;
}

.header-icons ul li i {
  font-size: 20px;
}

.header-icons ul li a {
  padding: 10px 11px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  transition: var(--main-transition);
}

.header-icons ul li a:hover {
  background-color: var(--dark-pink);
  color: var(--light-white);
}


.first-section{
  background-image: url('https://static.ticimax.cloud/52727/uploads/sayfatasarim/sayfa4/cizme-cc75674c-c.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}