@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

:root {
  --light-pink: #ffded4;
  --dark-pink: #ff6666;
  --light-white: #ffffff;
  --dark-white: #f3f3f3;
  --text-main: #191919;
  --text-accent: #acaaa6;
  --font-family: "Josefin Sans", sans-serif;
  --heading-size: 44px;
  --subtitle-size: 18px;
  --main-transition: 0.2s ease-in-out all;
  --drawer-width: 450px;
  --drawer-bg:#;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  height: 200vh;
}

.container {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.space-betweeen {
  display: flex;
  align-items: center;
}

/* desktop header */

/* header */

.header {
  background-color: var(--light-white);
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  box-shadow: 0px 7px 20px -9px var(--dark-white);
  transition: var(--main-transition);
  padding: 10px 0;
  z-index: 2;
}

/* fixed header */
.header.fixed {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 2.5%;
  transform: translateX(0);
}

.header ul,
.header a {
  list-style: none;
  color: var(--text-main);
  text-decoration: none;
  display: flex;
}

.logo {
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  max-width: 200px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.header-icons ul li {
  margin-left: 25px;
}

.header-icons ul li i {
  font-size: 20px;
}

.header-icons ul li a {
  padding: 10px 11px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  transition: var(--main-transition);
}

.header-icons ul li a:hover {
  background-color: var(--dark-pink);
  color: var(--light-white);
}

#nav-icon3 {
  width: 30px;
  height: 25px;
  display: grid;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--text-main);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 20px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 20px;
  width: 0%;
  left: 50%;
}

/* drawer props  */

.page-drawer {
  position: fixed;
  height: 100vh;
  width: 0;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  background-color: var(--light-white);
  visibility: hidden;
  opacity: 0;
  padding: 15px;
  box-shadow: inset -5px 0px 15px 0 rgba(0,0,0,.2)
}

.page-drawer.drawer-active {
  visibility: visible;
  opacity: 1;
  width: var(--drawer-width);
}

.main.drawer-active {
  transform: translateX(var(--drawer-width));
}

.header.drawer-active {
  transform: translateX(0);
  left: var(--drawer-width);
  top: 0;
  padding-inline: 2.5%;
  width: 100%;
}

.main,
.main > * {
  transition: var(--main-transition);
}

/* drawer styling */

.page-overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: var(--main-transition);

}

.page-overlay.drawer-active{
  opacity: 0.2;
  visibility: visible;
  left: var(--drawer-width);

}

.navigation  ul{
  list-style: none;
}


.first-section {
  background-image: url("https://static.ticimax.cloud/52727/uploads/sayfatasarim/sayfa4/cizme-cc75674c-c.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
